<section class="contact" @fadeBlur>
  <h2>📬 Contacto</h2>

  <div class="info">
    <p><strong>Correo:</strong> naidelinaniatorresmeza@gmail.com</p>
    <p><strong>Teléfono:</strong> +52 7681107537</p>
    <p><strong>Ubicación:</strong> Naranjos Amatlán, Veracruz - México</p>
  </div>

  <form class="form" action="https://formspree.io/f/mblzojow" method="POST">
    <input type="text" name="name" placeholder="Tu nombre" required />
    <input type="email" name="email" placeholder="Tu correo" required />
    <textarea
      name="message"
      rows="4"
      placeholder="Tu mensaje"
      required
    ></textarea>
    <button type="submit">Enviar mensaje</button>
  </form>

  <div class="media-actions">
    <a
      href="https://www.linkedin.com/in/naidelin-anai-torres-meza-89b575387?trk=contact-info"
      target="_blank"
      title="Mi LinkedIn"
    >
      <img src="assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
    <a
      href="https://www.facebook.com/share/17LW11rkcX/"
      target="_blank"
      title="Mi Facebook"
    >
      <img src="assets/icons/facebook.png" alt="Facebook" />
    </a>
    <a href="assets/documents/Naidelinanahi-resume.pdf" download title="Descargar CV en PDF">
      <img src="assets/icons/icon-pdf.png" alt="Descargar CV" />
    </a>
  </div>
</section>
