<div @fadeScale>
  <section class="about">
    <h2>🌟 Sobre mí</h2>

    <p class="intro">
      Soy Naidelin Anaí Torres Meza, Ingeniera en Logística. Me considero una
      persona responsable, puntual y con gran disposición para aprender. Me
      adapto fácilmente a nuevas tareas y trabajo de manera efectiva bajo
      presión.
    </p>

    <p>
      A lo largo de mi experiencia laboral, he aprendido a adaptarme
      rápidamente, comunicarme con claridad y brindar soluciones efectivas en
      entornos diversos. Cuento con habilidades sólidas en atención al cliente,
      manejo de efectivo y resolución de problemas, las cuales he desarrollado
      trabajando en áreas como ventas, logística y apoyo administrativo. Me
      destaco por mi capacidad de trabajar bajo presión y mi facilidad para
      adaptarme a los cambios.
    </p>

    <p class="quote">
      “Estoy convencida de que cada tarea merece mi máximo empeño y dedicación,
      pues creo firmemente que el trabajo bien hecho es la clave del éxito.”
    </p>
  </section>
</div>
