<header class="header">
  <div class="profile">
    <img
      src="/assets/images/naidelinanahi-cv.jpg"
      alt="Naidelin Anaí"
      class="profile-img"
    />
    <div class="info">
      <header>
        <h1>Naidelin Anaí Torres Meza</h1>
        <p class="subtitle">Ingeniera en Logística📄</p>
        <p class="description">
          Soy una persona responsable, puntual y con gran disposición para aprender. Cuento con habilidades sólidas en atención al cliente, manejo de efectivo y resolución de problemas. Me adapto fácilmente a nuevas tareas y puedo trabajar de manera efectiva bajo presión.
        </p>
        <blockquote class="quote">"{{ selectedQuote }}"</blockquote>
        <span class="availability">🟢 Disponible para entrevistas</span>
      </header>
      <div class="badges">
        <span class="badge">🫴 Atención al cliente</span>
        <span class="badge">📦 Logística</span>
        <span class="badge">📈 Administración</span>
      </div>
      <div class="soft-skills">
        <span class="skill">🌟 Empatía</span>
        <span class="skill">📖 Aprendizaje contínuo</span>
        <span class="skill">🧘‍♀️ Paciencia</span>
        <span class="skill">🗣️💬 Comunicación efectiva</span>
      </div>
    </div>
  </div>
</header>
