//--> Modo claro 🌞
$background-color: #fffde7;
$text-color: #3a3a2c;
$primary-color: #ffe066;
$accent-color: #ffb347;



//--> Modo oscuro 🌚
$dark-background-color: #2a250f;
$dark-text-color: #fff6cc;
$dark-primary-color: #ffcc00;
$dark-accent-color: #ff944d;






